<h3 class="navbar-brand">View Patient Details</h3>
<div>
    <div>
        <label> <b>Id: </b></label> {{patient.id}}
    </div>
    <div>
        <label> <b>Name: </b></label> {{patient.name}}
    </div>
    <div>
        <label> <b>Age: </b></label> {{patient.age}}
    </div>
    <div>
        <label> <b>visitedDoctor: </b></label> {{patient.visitedDoctor}}
    </div>
    <div>
        <label> <b>dateOfVisit: </b></label> {{patient.dateOfVisit}}
    </div>
    <div>
        <label> <b>prescription: </b></label> {{patient.prescription}}
    </div>  
</div> 

 
