<h3 class="navbar-brand">Doctor Details</h3>
<div>
    <div>
        <label> <b>Id: </b></label> {{doctor.id}}
    </div>

    <div>
        <label> <b>Name: </b></label> {{doctor.name}}
    </div>
    <div>
        <label> <b>Age: </b></label> {{doctor.age}}
    </div>
    <div>
        <label> <b>Gender: </b></label> {{doctor.gender}}
    </div>
    <div>
        <label> <b>Specialist: </b></label> {{doctor.specialist_fields}}
    </div>
    <div>
        <label> <b>No_of_patient: </b></label> {{doctor.no_ofPatient}}
    </div>  
</div>

 
