@import "~bootstrap/dist/css/bootstrap.css";
body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu";
}

p {
  color: #8f8f8f;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;

  /* background-color: aqua; */
}

.colored-section {
  background-color: #1d91bf;
  color: #fff;
}

.white-section {
  background-color: rgb(243, 245, 245);
}
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Ubuntu";
}
#title {
  background-color: #1d91bf;
  color: #fff;
  text-align: left;
  /* height: 688px; */
}

/* .title-image {
  width: 80%;
  position: absolute;
  right: 10%;
} */
.social-icon {
  margin: 20px 10px;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
.p-heading {
  font-family: "Ubuntu";
  font-size: 1.3rem;
  line-height: 1.5;
}
